.garden {
   height: 500px;
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20% 20%;
   grid-template-rows: 20% 20% 20% 20% 20% 20%;
   background-color: bisque;
}
.water {
    background-color: blue;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;

}
.body{
    height: 100vh;
}

.parent {
    height: 500px;
    width: 500px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.child {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}